@media only screen and (max-width: 1636px) {
	.about_me {
		left: 42%;
		top: 12%;

	}
	.photo__about_me {
		height: 370px;
		left: 26%;
	}
	.headline__about_me {
		font-size: 40px;
		left: 60px;
	}
	.text__about_me{
		font-size: 16px;
		left: 40%;
	}
}

@media only screen and (max-width: 1510px) {
	.photo__about_me {
		left: 21%;
	}

}
@media only screen and (max-width: 1200px) {
	.form__block a {
	padding-left: 3px;
	font-size: 18px;
}
.contacts__row {
    padding-top: 30px;
    }
}
@media only screen and (max-width: 1176px) {
    .wrap{
        background-attachment: scroll;
    }
	.header img{
		height: 25px;
	}
	.header__title{
		font-size: 17px;
	}
	.about_me{
		left: 0;
		position: relative;

	}
	.photo__about_me{
		height: 230px;
		opacity: 0.4;
		width: calc(100% - 30px);
		margin: 0 15px;
		position: static;
		object-fit: cover;
	}
	.block__about_me{
		left: 0;
	}
	.headline__about_me{
		font-weight: 800;

		padding-left: 50px;
		top: -45px;
		max-width: 500px;
	}
	.text__about_me{
		padding: 0 40px;
		margin-right: auto;
		margin-left: auto;
		font-size: 25px;
		max-width: 950px;
		text-align: center;
		left: 0;
	}
	.text__item{
		font-size: 22px;
	}
	.box--subtitle{
		margin-top: 0;
	}
	.courses__headline{
		font-size: 22px;
	}
	.courses__image{
		height: 200px;
	}
	
/*Laptop 1024px*/

@media only screen and (max-width: 1024px) {
	
 .wrap{
        background-attachment: scroll;
    }
	.box{
		margin-top: 50px;

	}
	.box--subtitle{
		margin-top: 0px;
	}
	.item{
		font-size: 19px;
	}
	.courses__headline {
		font-size: 21px;
		font-weight: 600;
	}
	.text {
		font-size: 17px;
		padding: 25px 10px 5px;
		margin-bottom: 0px;
	}
	.number {
		font-size: 200px;
	}
	.courses_row {
		padding-top: 35px;
		padding-bottom: 10px;
	}
	.courses__headline {
		padding: 15px 15px;
	}
.contacts__row {
    padding-top: 20px;
}
}


/*iPad 810px*/
@media only screen and (max-width: 810px) {
     .wrap{
        background-attachment: scroll;
    }
	.headline{
		font-size: 80px;
	}
	.headline span{
font-size: 60px;
	}
	.text__about_me{
		font-size: 22px;
	}

	.text__item{
		font-size: 17px;
		margin-top: 20px;
	}
	.courses__headline{
		padding: 15px 10px;
		font-size: 15px;
		font-weight: 600;
		margin-bottom: 0;
	}
	.courses_row{
		padding: 10px 0;
	}
	.price_course {
		font-size: 20px;
	}
	.subtitle {
		font-size: 22px;
		font-weight: 800;
	}

	.courses__headline{
		font-size: 21px;
		font-weight: 800;
	}
	.text__item{
		position: static;

	}
		.number{
		line-height: 0.9;

	}

}
@media only screen and (max-width: 768px) {
     .wrap{
        background-attachment: scroll;
    }
	.item{
		font-size: 14px;
	}
	.box_item {
    align-items: center;

    padding-bottom: 20px;
}
	.number{

		margin-bottom: 0;
		font-size: 130px;
	}
	.box_item_inner{
		position: static;
	}
	.headline{
		font-size: 70px;
	}
	.headline span{
		font-size: 40px;
	}
	.headline__text{
		margin: 0 20px;
	}
	.text__about_me{
		font-size: 20px;
	}

	.courses__image{
		height: 200px;
	}
	.courses__headline{
		font-size: 20px;
		text-align: center;
	}
	.courses_text_block{
		text-align: center;
	}
	.subtitle{
		margin-bottom: 50px;
	}

	.box_item_inner{
		margin-right: 37px;

	}

	.form__block div,
	.form__block p, 
	.form__block a, 
	.form__block div{
		text-align: center;
	}
	.text--footer{
		font-size: 22px;
	}
}
/*Tablet 680px*/

@media only screen and (max-width: 680px) {
     .wrap{
        background-attachment: scroll;
    }
.header img{
	height: 21px;
}
.header__title{
	font-size: 14px;
	padding-left: 0;
}
	.photo__about_me{
		position: static;
		width: 100%;
		margin: 0;
	}
	.headline__about_me {
		left: 0;
		top: 78px;
		width: 100%;
		position: absolute;
		padding: 0px 80px;
		max-width: 100%;
		line-height: 1.2;
		font-size: 32px;
		text-align: right;
	}
	.text__about_me{
		padding: 20px 20px 0;
		line-height: 1.3;   
		font-size: 18px; 
		text-align: left;

	}
	.about_me{
		position: static;
	}
	p{
		line-height: 1.3;
		font-size: 18px; 
	}
	.subtitle{
		line-height: 1.3;
	}
	.contacts__row{
	    width: calc(100% - 20px);
	}
	
	.input_form{
	    margin: 15px 0;
	    font-size: 18px;
	}
	.input_form_button{
	     margin: 15px 0;
	}
}
@media only screen and (max-width: 364px) {
	.contacts__row{
	left: 0; 
    display: flex;
    flex-direction: column;
	}
}
/*Phones 320px*/
@media only screen and (max-width: 320px) {
     .wrap{
        background-attachment: scroll;
    }
	.headline{
		font-size: 44px;
	}
	.headline span{
		font-size: 32px;
	}
.text__about_me{
	padding: 15px 15px;
}
	.box_item{
		    padding-bottom: 20px;
    position: relative;
	}
.box_item_inner{
	margin-right: 10px;
}

.item{
position: static;
}

.number{
	margin-bottom: 0;
    font-size: 50px;
}
.subtitle{
	margin-bottom: 10px;

}
.subtitle--why_us{
		margin-bottom: 35px;
	}


}
   