.header{
	padding-top: 20px;
	padding-bottom: 20px;
	position: fixed;
	z-index: 100;
	background-color: #333333;
	width: 100%;
	top: 0;

}
.header__title{
	font-family: Didact Gothic;
	font-weight: 800;
	font-size: 20px;
	text-decoration: none;
	
	color: #4A4A46;
	position: relative;
	cursor: pointer;
	display: inline-flex;
	justify-content: center;

}
.nav-link .header__title{
	padding-right: 40px;
	margin-right: 30px;
}
.nav_icons{
	position: relative;
	top: -3px;
}
.header__title:hover{
	color: #4A4A46;
	text-decoration: none;
}
.header__title:after{
	position: absolute;
	bottom: -7px;
	content: '';
	width: 0px;
	height: 1px;
	transition: width 0.3s;
	background-color: #000;
}
.header__title:hover:after{
	width: 100%;
}

.wrap{
	background: url(../image/background-6.jpg) 
	center center / cover 
	no-repeat transparent;
	height: 800px;
	background-attachment: fixed;
	z-index: 1;
}
.text__block{
	padding-top: 250px;
}
.headline{
	font-family: Didact Gothic;
	font-weight: 500;
	font-size: 100px;
	padding: 40px 30px 30px;
	line-height: 1.1;
	color: #4A4A46;
	text-align: center;

}
.headline span{
	font-size: 78px;
}
.background_text{
	background-color: rgba(255,255,255, 0.65);

}
.headline__text{
	font-family: Didact Gothic;
	font-size: 22px;
	color: #efefef;
	text-align: center;
	background: rgba(74, 74, 72,0.9);
	line-height: 1;
	font-weight: 200;
	padding: 20px;
	padding-bottom: 25px;
	margin: 0 150px;
	margin-top: 16px;

}
.box{
	background-color: #fff;
	
	margin-top: 100px;
	
	margin-left: auto;
	margin-right: auto;

}
.block__about_me{
	position: relative;
	left: -5%;
}
.photo__about_me{
	height: 470px;
	position: relative;
	left: 30%;
}
.headline__about_me{
	font-family: Didact Gothic;
	font-size: 50px;
	color: #4A4A46;
	line-height: 1;
	position: relative;

	left: 40%;
}
.text__about_me{
	font-family: Didact Gothic;
	font-size: 20px;
	color: #4A4A46;
	padding-top: 40px;
	line-height: 1.7;
	position: relative;
	max-width: 500px;
	left: 70%;
}
.about_me{
	position: absolute;
	top: 8%;
	left: 43%;
}
.number_block{
	padding-top: 40px;
}
.number{
	font-family: Fjalla One;
	font-size: 250px;
	text-align: center;
	width: 100%;
	line-height: 1;

}
.first_color{
	color: rgba(212, 154, 136, 0.2);
}
.second_color{
	color: rgba(120, 158, 181, 0.25);
}
.third_color{
	color: rgba(120, 187, 153, 0.2);
}
.item{
	font-family: Roboto Slab;
	color: #4A4A46;
	line-height: 1;
	font-size: 25px;
	position: absolute;
	text-align: right;
}


.box_item_inner{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-end;

}
.text__item{
	font-family: Didact Gothic;
	color: #4A4A46;
	line-height: 1;
	font-size: 20px;
	position: relative;
	bottom: 0px;
	text-align: center;
}
.subtitle{
	font-family: Didact Gothic;
	color: #4A4A46;
	line-height: 2;
	font-size: 30px;
	margin: 0;
	font-weight: 800;
	text-align: center;
}

.courses__headline{
	font-family: Josefin Sans;
	font-size: 25px;
	line-height: 1;
	padding: 15px 20px;
	color: #4A4A46;
}
.courses__image{
	height: 280px;
	max-width: 100%;
	width: 100%;
	object-fit: cover;
}
.text{

	font-family: Didact Gothic;
	color: #4A4A46;
	line-height: 1.5;
	font-size: 20px;
	padding: 40px 20px;
	padding-bottom: 0;
}
.courses_row{
	padding-bottom: 40px;
	padding-top: 40px;
}
.price_course{
	font-family: Didact Gothic;
	font-weight: 800;
	font-size: 25px;
	color: #4A4A46;
	position: absolute;
	bottom: -5px;
	width: 100%;
	text-align: center;
}
.course_column{
	margin-bottom: 20px;
}
.column_block{
	position: relative;
	padding-bottom: 40px;
	height: 100%;
	border-radius: 6px;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	transition: top .3s ease-out;
	top: 0;
}
.column_block:hover{
	top: -15px;
}

.contacts__block{
	text-align: left;
}
.contacts{
	padding-bottom: 40px;
}

.icons{
	text-align: center;
	padding-bottom: 5px;
	height: 44px;
	position: relative;
	top: -3px;

}
.contacts__row{
	padding-top: 40px;
	position: relative;
	left: 20px;
}
.footer {
	background-color: #333;
	margin-top: 48px;

}
.form__block{
	padding: 40px 0;
}
.form__block a{
	padding-left: 15px;
	text-decoration: none;
	color: #fff;
	font-family: Roboro Slab;
	font-weight: 800;
	font-size: 30px;
}
.input_block{
	display: flex;
	flex-direction: column;

	margin-top: 32px;
	width: 100%;
	max-width: 620px;

}
.input_form{
	width: 100%;
	outline: none;
	background-color: #FFFFFF;
	padding: 0px 16px;
	margin: 15px 15px;
	font-family: Didact Gothic;
	font-size: 22px;
	color: #4A4A46;
	border: 1px solid #4A4A46;
	cursor: text;
	transition: border-color .2s ease-in-out;
	height: 70px;
	box-sizing: border-box;
	
}

.input_form_button{
	width: 100%;
	height: 70px;
	display: inline-block;
	background-color: #4A4A46;
	color: #ffffff;
	font-family: Didact Gothic;
	border: none;
	text-align: center;
	text-decoration: none;
	padding: 0px 16px;
	margin: 15px 15px;
	
	font-size: 22px;
}
.form__block div, 
.form__block p,
.form__block a,
.form__block div{
	color: #fff;
}

/*.footer img{
	filter: brightness(4);
}*/